<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.msudenver.roadrunners">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/msu_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/msu_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".activities.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity
            android:name=".activities.InventoryEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.InventoryDetailActivity"
            android:parentActivityName=".activities.InventoryListActivity"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".activities.InventoryListActivity" />
    </application>

</manifest>
